aiohappyeyeballs==2.4.3
aiohttp==3.10.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.3
alibabacloud-gpdb20160503==3.8.3
alibabacloud-openplatform20191219==2.0.0
alibabacloud-tea==0.4.0
alibabacloud_credentials==0.3.5
alibabacloud_endpoint_util==0.0.3
alibabacloud_gateway_spi==0.0.2
alibabacloud_openapi_util==0.2.2
alibabacloud_oss_sdk==0.1.0
alibabacloud_oss_util==0.0.6
alibabacloud_tea_fileform==0.0.5
alibabacloud_tea_openapi==0.3.12
alibabacloud_tea_util==0.3.13
alibabacloud_tea_xml==0.0.2
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
amqp==5.2.0
aniso8601==9.0.1
annotated-types==0.7.0
anthropic==0.23.1
anyio==4.6.2.post1
arxiv==2.1.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
Authlib==1.3.1
azure-ai-inference==1.0.0b5
azure-ai-ml==1.20.0
azure-common==1.1.28
azure-core==1.31.0
azure-identity==1.16.1
azure-mgmt-core==1.4.0
azure-storage-blob==12.13.0
azure-storage-file-datalake==12.8.0
azure-storage-file-share==12.19.0
backoff==2.2.1
bce-python-sdk==0.9.23
bcrypt==4.2.0
beautifulsoup4==4.12.2
billiard==4.2.1
blinker==1.8.2
boto3==1.35.17
botocore==1.35.47
Bottleneck==1.4.2
Brotli==1.1.0
bs4==0.0.2
build==1.2.2.post1
cachetools==5.3.3
celery==5.3.6
certifi==2024.8.30
cffi==1.17.1
chardet==5.1.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.3
chromadb==0.5.1
circuitbreaker==2.0.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clickhouse-connect==0.7.19
cloudpickle==2.2.1
cloudscraper==1.2.71
cohere==5.2.6
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.0
cos-python-sdk-v5==1.9.30
couchbase==4.3.3
crcmod==1.7
cryptography==43.0.3
cssselect==1.2.0
cycler==0.12.1
dashscope==1.17.1
dataclass-wizard==0.23.0
dataclasses-json==0.6.7
db-dtypes==1.3.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.9
distro==1.9.0
docker==7.1.0
docstring_parser==0.16
duckdb==1.1.2
duckduckgo_search==6.3.2
durationpy==0.9
elastic-transport==8.15.1
elasticsearch==8.14.0
emoji==2.14.0
environs==9.5.0
esdk-obs-python==3.24.6.1
et-xmlfile==1.1.0
eval_type_backport==0.2.0
exceptiongroup==1.2.2
fastapi==0.115.3
fastavro==1.9.7
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.16.1
filetype==1.2.0
fire==0.7.0
flasgger==0.9.7.1
Flask==3.0.3
Flask-Compress==1.14
Flask-Cors==4.0.2
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
flask-sock==0.7.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fontmeta==1.6.1
fonttools==4.54.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
gevent==23.9.1
gmpy2==2.2.1
google==3.0.0
google-ai-generativelanguage==0.6.9
google-api-core==2.18.0
google-api-python-client==2.90.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.49.0
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.16.0
google-crc32c==1.6.0
google-generativeai==0.8.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.0
gotrue==2.9.3
greenlet==3.1.1
grpc-google-iam-v1==0.13.1
grpcio==1.67.0
grpcio-status==1.62.3
grpcio-tools==1.62.3
gunicorn==22.0.0
h11==0.14.0
h2==4.1.0
hiredis==3.0.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.16.4
humanfriendly==10.0
hyperframe==6.0.1
idna==3.10
importlib-metadata==6.11.0
importlib_resources==6.4.5
isodate==0.7.2
itsdangerous==2.2.0
jieba==0.42.1
jieba3k==0.35.1
Jinja2==3.1.4
jiter==0.6.1
jmespath==0.10.0
joblib==1.4.2
jsonlines==4.0.0
jsonpath-ng==1.6.1
jsonpath-python==1.0.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kaleido==0.2.1
kiwisolver==1.4.7
kombu==5.4.2
kubernetes==31.0.0
langdetect==1.0.9
langfuse==2.51.5
langsmith==0.1.137
llvmlite==0.43.0
loguru==0.7.2
lxml==5.3.0
lz4==4.3.3
mailchimp-transactional==1.0.56
Mako==1.3.6
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.0
matplotlib==3.8.4
mdurl==0.1.2
#milvus-lite==2.4.10
mistune==3.0.2
mmh3==5.0.1
mock==4.0.3
monotonic==1.6
mplfonts==0.0.8
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
msrest==0.7.1
multidict==6.1.0
multiprocess==0.70.17
multitasking==0.0.11
mypy-extensions==1.0.0
nest-asyncio==1.6.0
newspaper3k==0.2.8
nltk==3.9.1
nomic==3.1.2
novita_client==0.5.7
numba==0.60.0
numexpr==2.9.0
numpy==1.26.4
oauthlib==3.2.2
oci==2.135.2
odfpy==1.4.1
olefile==0.47
onnxruntime==1.19.2
openai==1.52.2
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
openpyxl==3.1.5
opensearch-py==2.4.0
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
oracledb==2.2.1
orjson==3.10.10
oss2==2.18.5
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pathos==0.3.3
peewee==3.17.7
pgvecto-rs==0.2.2
pgvector==0.2.5
pillow==11.0.0
platformdirs==4.3.6
plotly==5.24.1
ply==3.11
portalocker==2.10.1
postgrest==0.17.2
posthog==3.7.0
pox==0.3.5
ppft==1.7.6.9
primp==0.6.4
prompt_toolkit==3.0.48
proto-plus==1.25.0
protobuf==4.25.5
psutil==6.1.0
psycopg2-binary==2.9.10
py==1.11.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.19.1
pydantic==2.9.2
pydantic-extra-types==2.9.0
pydantic-settings==2.6.0
pydantic_core==2.23.4
pydash==8.0.3
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.8.0
pymilvus==2.4.8
pymochow==1.3.1
PyMySQL==1.1.1
pyobvector==0.1.6
pyOpenSSL==24.2.1
pypandoc==1.14
pyparsing==3.2.0
pypdf==5.0.1
pypdfium2==4.17.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.2.0
python-calamine==0.2.3
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.0
python-iso639==2024.10.22
python-magic==0.4.27
python-oxmsg==0.0.1
python-pptx==1.0.2
pytz==2024.2
pyxlsb==1.0.10
PyYAML==6.0.2
qdrant-client==1.7.3
qrcode==7.4.2
rank-bm25==0.2.2
RapidFuzz==3.10.0
readabilipy==0.2.0
realtime==2.0.2
redis==5.0.8
referencing==0.35.1
regex==2024.9.11
replicate==0.22.0
requests==2.31.0
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resend==0.7.2
retry==0.9.2
rich==13.9.3
rpds-py==0.20.0
rsa==4.9
s3transfer==0.10.3
safetensors==0.4.5
sagemaker==2.231.0
sagemaker-core==1.0.10
schema==0.7.7
scikit-learn==1.5.2
scipy==1.14.1
sentry-sdk==1.44.1
sgmllib3k==1.0.0
shapely==2.0.6
shellingham==1.5.4
simple-websocket==1.1.0
six==1.16.0
smdebug-rulesconfig==1.0.1
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.6
SQLAlchemy==2.0.36
sqlparse==0.5.1
starlette==0.41.0
storage3==0.8.2
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.8.1
supafunc==0.6.2
sympy==1.13.1
tabulate==0.9.0
tblib==3.0.0
tcvectordb==1.3.2
tenacity==9.0.0
tencentcloud-sdk-python-common==3.0.1257
tencentcloud-sdk-python-hunyuan==3.0.1257
termcolor==2.5.0
threadpoolctl==3.5.0
tidb-vector==0.0.9
tiktoken==0.8.0
tinysegmenter==0.3
tldextract==5.1.2
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.2
tos==2.7.2
tqdm==4.66.5
transformers==4.35.2
twilio==9.0.5
typer==0.12.5
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
ujson==5.10.0
unstructured==0.16.1
unstructured-client==0.26.1
upstash-vector==0.6.0
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.32.0
#uvloop==0.21.0
validators==0.21.0
vanna==0.7.5
vine==5.1.0
volcengine-compat==1.0.156
volcengine-python-sdk==1.0.103
watchfiles==0.24.0
wcwidth==0.2.13
weaviate-client==3.21.0
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.4
wikipedia==1.4.0
wrapt==1.16.0
wsproto==1.2.0
xinference-client==0.15.2
xlrd==2.0.1
XlsxWriter==3.2.0
xmltodict==0.14.2
yarl==1.9.11
yfinance==0.2.46
zhipuai==2.1.5.20230904
zipp==3.20.2
zope.event==5.0
zope.interface==7.1.1
zstandard==0.23.0